*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app_self/src/androidTest/
/app_self/src/test/
/hs_err_pid1368.log
/hs_err_pid2528.log
/hs_err_pid4352.log
