<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.xnzn.app.selfdevice">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.permission.READ_FRAME_BUFFER" />

    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.usb.UsbAccessory" />
    <uses-feature android:name="android.hardware.usb.accessory" />

    <uses-permission
        android:name="android.permission.MANAGE_USB"
        android:protectionLevel="signature"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK" />
    <uses-permission
        android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_CACHE_FILES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.ACCESS_CACHE_FILESYSTEM"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".SelfApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SelfDevice"
        android:usesCleartextTraffic="true">

        <!--        &lt;!&ndash;arms 配置&ndash;&gt;-->
        <!--        <meta-data-->
        <!--            android:name="me.jessyan.mvparms.demo.app.GlobalConfiguration"-->
        <!--            android:value="ConfigModule" />-->

        <activity
            android:name=".home.HomeActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity">


        </activity>
        <activity android:name=".menu.MenuChooseActivity" />
        <activity android:name=".menu.MenuShowActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".charge.ChargeActivity" />
        <activity android:name=".query.QueryActivity" />
        <activity android:name=".query.CommentActivity" />
        <activity android:name=".login.FaceLoginActivity" />
        <activity
            android:name=".login.CardLoginActivity"
            android:exported="true">

            <!-- USB -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            <!-- USB END -->
        </activity>

        <activity
            android:name=".login.ScanLoginActivity"
            android:exported="true">

            <!-- USB -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            <!-- USB END -->

        </activity>
        <activity android:name=".my.PersonalActivity" />
        <activity android:name=".sign.SignActivity" />
    </application>

</manifest>